html{
    background-color: #020659;
}

h1{ 
    font-size: 22px;
    line-height: 2em;
}

h1, h2, h3{
    font-weight: bold;
    text-transform: uppercase;
    
}

h2, h3{
    font-size: 20px;
    color: #590242;
    line-height: 2em;
    text-align: left;
}

ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
}


*{
    margin: 2px;
    padding: 10px;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background-color: #020873;
    color: #fff;
    text-align: left;
    padding: 20px 0;
    order:2;
}

header p{
    text-align: left;
}
main{
    background-color: #020873;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    /*flex-grow: 1;*/
    order:2;
}

footer{
    background-color: #ffffff;
    color: #590242;
    text-align: center;
    padding: 20px;
    order: 2;
}

nav{
    display: flex;
    align-items: center;
    background: #020569;
    padding: 0.5rem 1rem;
          
}

#muzakMaker {
    font-variant: small-caps;
    top:0;
    left: 0;
    position: absolute;
    color: #ffffff;
    margin-right: auto;
    background-color: #020659;
    padding: 20px;
    
}

nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    position:relative; 
    right: 0;
}

nav ul li a{
    color: white;
    margin-right: 0%;
    text-decoration: none;
}

nav ul li:hover{
    background-color: #555;
}


.main{
    padding: 30px 0;
    order:2;
}

.audio-section{
    background: white;
    padding: 20px;
    margin: 20px 0;
}

.audio-section h2{
    margin-bottom: 10px;
    }

.audio-section img{
    max-width: 100%;
    margin-bottom: 20px;
}



.scroll{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll section{
    margin:10px;
    position: relative;
}

.scroll div{
    position: absolute;
    top: 251px;
    background-color: rgba(255, 255, 255, .75);
    
    padding: 5px;
    height: 50px;
    width: 350px;
}

dl{
    display: flex;
}

dt{
    padding-right: 5px;
}

audio{
    position: absolute;
    bottom: 150px;
    left: 5px;
}

.more{
    text-decoration: none;
    background-color: #590242;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    display: block;
    text-align: center;
    margin: 10px 0 30px 32px;
}

.more:hover{
    background-color: #020659;
}

audio::webkit-media-controls-mute-button{
    background-color: #ffffff;
    border-radius: 50%;
}

audio::webkit-media-controls-play-button{
    background-color: #ffffff;
    border-radius: 50%;
}

audio::webkit-media-controls-play-enclosure{
    background-color: rgba(255, 255, 255, .5);
}

#trending ::-webkit-scrollbar{
    width: 15px;
}

#trending ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 15px #590242;
    }

#trending ::-webkit-scrollbar-thumb{
    background-color: #590242;
    border-radius: 5px;
}

#trending ::-webkit-scrollbar-thumb:hover{
    background-color: #020659;
}

#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar{
    width: 15px;
}

#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 15px #020659;
}

#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb{
    background-color: #020569;
    border-radius: 5px;
}

#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover{
    background: #ffffff;
}

#trending {
    background-color: white;
}

body{
    margin:0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    background-color: #020659;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

button{
    font-size: 12px;
    background-color: #590242;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 80px;
    margin-right: 10px;
    right: 0;
    
}

.button-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: right;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-container button {
    padding: 10px 20px;
    margin-right: 0;
}

.button-container:hover{
    background-color: #020659;
}

button:hover{
    background-color: #020569;
}

#playlists-headings-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#playlists-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
}

#playlists-container img{
    max-width: 40%;
    height: auto;
    width: auto;
}

#playlists-container div{
    flex: 1;
}

#playlists-container h2{
    color:  #020873;
    font-weight: bold;
    margin-left: 20px;
    position: relative;
    top: 10px;
    left: 0;
    z-index: 10;
}

#playlists-container section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#playlists-container h3,p,h4{
    color: white;
    text-align: right;
    top: 0;
    right:0;
}

#your-playlists, #curated{
    height: 300px;
    overflow-y: auto;
}
/*@media screen and (max-width: 700px) {
    .container{
        width: 95%;
    }
    
    nav ul{
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}*/

@media screen and (min-width: 376px){
    nav ul{
        display: flex;
        width: 25%;
    }
    
}

@media screen and (max-width: 375px){
    nav ul{
        display: none;
    }
    label[for="dropdown"]{
        display: block;
        position: absolute;
        top:20px;
        right: 20px;
        width: 30px;
        height: 3px;
        background-color: #333;
        cursor: pointer;
        z-index: 15;
    }

    #dropdown:checked ~ label span:before{
        transform: rotate(-45deg);
    }

    #dropdown:checked ~ label span:after{
        transform: rotate(45deg);
    }

    #dropdown:checked ~ ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #333;
        width: 100%; 
        padding-left: 0;
    }

    #playlists-container{
        display: block;
    }

    #your-playlists, #curated{
        /*flex-direction: column;*/
        overflow-x: hidden;
        overflow-y: auto;
    }
      
    #muzakMaker {
        display: block; 
        position: static;
        width: auto;
        margin-right: auto;
        padding: 10px 0;
    }
}


#dropdown {
    display: none; /* Hide the checkbox */
}

ul li {
    list-style-type: none;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}
