ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f7f7f7;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header, main, footer{
    background-color: #333; /*Dark bg color*/
    color: #fff;
    text-align: center;
    padding: 20px 0;
    order:2;
}



nav{
   
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 0.5rem 1rem;
    order: 1;
}

nav ul{
    display: flex;
}

nav ul li{

    margin-right: 20px;
}

nav ul li:hover{
    background-color: #555;
}

.main{
    padding: 30px 0;
    order:2;
}

.audio-section{
    background: white;
    padding: 20px;
    margin: 20px 0;
}

.audio-section h2{
    margin-bottom: 10px;
}

.audio-section img{
    max-width: 100%;
    margin-bottom: 20px;
}

footer{
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    order:2;
}

#trending ::-webkit-scrollbar{
    width: 10px;
}

#trending ::-webkit-scrollbar-track{
    background-color: #f7f7f7;
}

#trending ::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 5px;
}

#trending ::-webkit-scrollbar-thumb:hover{
    background-color: #555;
}

#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar{
    width: 10px;
}

#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track{
    background-color: #f7f7f7;
}

#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 5px;
}

#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover{
    background-color: #555;
}

@media screen and (max-width: 700px) {
    .container{
        width: 95%;
    }
    
    nav ul{
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}

