*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f7f7f7;
    line-height: 1.6;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background-color: #333; /*Dark bg color*/
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header a{
    color: #ffffff;
    text-decoration: none;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 0.5rem 1rem;
}

nav ul{
    display: flex;
}

nav ul li{

    margin-right: 20px;
}

nav ul li:hover{
    background-color: #555;
}

.main{
    padding: 30px 0;
}

.audio-section{
    background: white;
    padding: 20px;
    margin: 20px 0;
}

.audio-section h2{
    margin-bottom: 10px;
}

.audio-section img{
    max-width: 100%;
    margin-bottom: 20px;
}

footer{
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

#trending ::-webkit-scrollbar{
    width: 10px;
}

#trending ::-webkit-scrollbar-track{
    background-color: #f7f7f7;
}

#trending ::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 5px;
}

#trending ::-webkit-scrollbar-thumb:hover{
    background-color: #555;
}

#playlists ::-web-scrollbar, #curated ::-webkit-scrollbar{
    width: 10px;
}

#playlists ::-web-scrollbar-track, #curated ::-webkit-scrollbar-track{
    background-color: #f7f7f7;
}

#playlists ::-web-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 5px;
}

#playlists ::-web-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover{
    background-color: #555;
}

@media screen and (max-width: 700px) {
    .container{
        width: 95%;
    }
    
    nav ul{
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}

